[submodule "Isaac-GR00T"]
	path = Isaac-GR00T
	url = https://github.com/yuzihaowashu/Isaac-GR00T.git
[submodule "xr_teleoperate"]
	path = xr_teleoperate
	url = https://github.com/yuzihaowashu/xr_teleoperate.git
[submodule "Psi0"]
	path = Psi0
	url = https://github.com/yuzihaowashu/Psi0.git
[submodule "Diffusion-Policy"]
	path = Diffusion-Policy
	url = https://github.com/yuzihaowashu/diffusion_policy.git
